
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-visited-color;
    }

    &:hover {
        color: link-hover-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid lighten($complimentary-color, 35%);
    padding-left: $spacing-unit / 2;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 14px;
    border: 1px solid darken($complimentary-color, 15%);
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $complimentary-color;
        }
    }
}

/**
 * Breadcrump Navigation
 */

.breadcrumb {
    text-align: center;
    list-style: none;
    display: inline-table;
    padding: 0;
    margin: 0;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb li a {
    background: $breadcrumb-color;
    color: $breadcrumb-link-color;
    display: block;
    float: left;
    text-align: center;
    height: $breadcrumb-height;
    line-height: $breadcrumb-height;
    padding: 0 $breadcrumb-spacing 0 2*$breadcrumb-spacing;
    position: relative;
    margin: 0 $breadcrumb-spacing 0 0;
    text-decoration: none;
    font-size: $small-font-size;
}
.breadcrumb li a:after {
    content: "";
    border-top: $breadcrumb-half-height solid transparent;
    border-bottom: $breadcrumb-half-height solid transparent;
    border-left: $breadcrumb-half-height solid $breadcrumb-color;
    position: absolute;
    right: -$breadcrumb-half-height;
    top: 0;
    z-index: 1;
}
.breadcrumb li:first-child a:after {
    right: -$breadcrumb-half-height+1;
}
.breadcrumb li a:before {
    content: "";
    border-top: $breadcrumb-half-height solid transparent;
    border-bottom: $breadcrumb-half-height solid transparent;
    border-left: $breadcrumb-half-height solid $body-bg;
    position: absolute;
    left: 0;
    top: 0;
}
.breadcrumb li:first-child a:before {
    display: none;
}
.breadcrumb li a:hover {
    text-decoration: underline;
}
.breadcrumb li a:hover:after {
    left-color: $link-hover-color;
}

/**
 * Blog Navigation
 */

.blog-navigation {
    display: block;
    width: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.blog-navigation a {
    background: $blog-navigation-color;
    color: $blog-navigation-link-color;
    display: block;
    float: left;
    text-align: center;
    height: $blog-navigation-height;
    line-height: $blog-navigation-height;
    padding: 0 $blog-navigation-spacing 0 $blog-navigation-spacing;
    position: relative;
    margin: 0 $blog-navigation-spacing 0 0;
    text-decoration: none;
    font-size: $small-font-size;
}
.blog-navigation>.prev {
    text-align: left;
    float: left;
    left: $blog-navigation-half-height;
}
.blog-navigation>.prev:before {
    content: "";
    border-top: $blog-navigation-half-height solid transparent;
    border-bottom: $blog-navigation-half-height solid transparent;
    border-right: $blog-navigation-half-height solid $blog-navigation-color;
    position: absolute;
    left: -$blog-navigation-half-height;
    top: 0;

}
.blog-navigation>.next {
    text-align: right;
    float: right;
    right: $blog-navigation-half-height;
}
.blog-navigation>.next:after {
    content: "";
    border-top: $blog-navigation-half-height solid transparent;
    border-bottom: $blog-navigation-half-height solid transparent;
    border-left: $blog-navigation-half-height solid $blog-navigation-color;
    position: absolute;
    right: -$blog-navigation-half-height;
    top: 0;
}

/**
 * Pagination
 */

.pagination {
    display: block;
    margin-top: 1em 0;
    text-align: center;
    color: $pagination-text-color;
    vertical-align: middle;
    background: $pagination-color;
}
.pagination a {
    padding: 0 0.25em;
    background: $pagination-color;
    color: $pagination-link-color;
    line-height: $pagination-height;
    height: $pagination-height;
}
.pagination em {
    padding: 0 0.25em;
}
.pagination span {
    padding: 0 0.25em;
}
